<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Un saludillo 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Un saludillo</ion-title>
    </ion-toolbar>
  </ion-header>

      <ion-card-title>Tu mensaje</ion-card-title>


      <p class="text">{{ Message }}</p>

      <div class="buttons">
        <ion-button (click)="copyMessage()" color="primary">
          <ion-label>Copiar mensaje</ion-label>
        </ion-button>

        <ion-button (click)="shareMessage()" color="secondary">
          <ion-label>Compartir mensaje</ion-label>
        </ion-button>

        <ion-button (click)="readMessage()" color="tertiary">
          <ion-label>Leer mensaje</ion-label>
        </ion-button>
      </div>

      <p>Los plugins utilizados son: Clipboard, Share, Dialog y ScreenReader.</p>


</ion-content>